<article class="row bg-light">
    <Image @img={{@img}} @width="25"/>
    <div class="row w-50 no-gutters">
        <LinkTo @route="rentals" @model={{@route}} class="w-100 text-decoration-none" style="color: blue;"><p class=" h3">{{@name}}</p></LinkTo>
        <p class="w-50"><b>Owner</b>: <i>{{@owner}}</i></p>
        <p class="w-50"><b>Type</b>: <i>{{@type}}</i></p>
        <p class="w-50"><b>Location</b>: <i>{{@location}}</i></p>
        <p class="w-50"><b>Number Of bedrooms</b>: <i>{{@bed}}</i></p>
    </div>
</article>